@import "../../../../theme/constants";

.genre-menu-bar {
  position: relative;
  white-space: nowrap;
  background: #232323;
  width: 40%;
  min-width: 500px;
  display: flex;

  &__item {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    display: inline-block;
    z-index: 10;
    height: 100%;
    padding: 1em 0;
    text-align: center;
    cursor: pointer;
    background-color: unset;
    border: none;
    color: inherit;
    transition: border-bottom 500ms ease;
    flex-grow: 1;
    text-transform: uppercase;

    &__underlined {
      cursor: default;
      border-bottom: $main-button-color solid 2px;
    }
  }
}