@import "src/theme/constants";

.main-form-select {
  width: 100%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__label {
    color: $main-button-color;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.888889px;
    text-transform: uppercase;
    opacity: 0.8;
    align-self: flex-start;
  }

  .main-form-select__select {
    position: relative;
    min-height: 48px;
    height: 55%;
    background-color: $input-bg-color;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 90%;
    display: flex;
    align-items: center;
    color: white;

    &__value {
      margin-left: 1rem;
    }

    .main-form-select-panel {
      display: none;
    }

    &__open {

      .main-form-select-panel {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        background-color: $main-bg-color;
        border: #080707 solid 1px;
        color: white;
        z-index: 10;
        min-height: 120px;

        &__item {
          flex-grow: 1;
          display: flex;
          align-items: center;

          input[type='checkbox'] {
            filter: invert(100%) hue-rotate(321deg);
          }

          &:hover {
            background-color: $light-bg-color;
            filter: unset;
          }
        }
      }
    }
  }
}