@import "src/theme/constants";

.modal {
  display: none;

  &--open {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  &__inner {
    min-width: 686px;
    width: 40vw;
    min-height: 352px;
    display: flex;
    flex-direction: column;
    background-color: $main-bg-color;
    padding: 1.5rem 1.5rem;

    &__header {
      display: flex;
      flex-direction: column;
      min-height: 130px;

      &__close-button {
        align-self: flex-end;
        font-size: 40px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          background-color: $light-bg-color;
          filter: unset;
        }
      }

      span {
        flex-grow: 1;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    }

    &__body {
      flex-grow: 1;
      display: flex;
    }
  }
}